<mat-toolbar
class="max-w-7x1 mx-auto border-x justify-between">
<a routerLink="/products">GEARS</a>
<div class="spacer"></div>
<div class="bar">
    <a mat-button routerLink="/products">Home</a>
    <a mat-button routerLink="/signInPage">Register</a>
    <a mat-button routerLink="/registerPage">SignIn</a>
    
</div>
<button mat-icon-button [mat-menu-trigger-for]="menu"><mat-icon [matBadge]="3">shopping_cart</mat-icon></button>
<mat-menu #menu="matMenu">
    <div class="p-3 divide-y divide-solid">
        <div class="pb-3 flex justify-between">
            <span class="mr-16">3 Items</span>
            <a mat-button routerLink="/cart">View Cart</a>
        </div>
        <div class="py-3">
            <div class="flex justify-between font-light mb-2">
                16"Apes x 1
                <span class="font-bold">{{3 | currency:'R'}}</span>
            </div>
            <div class="flex justify-between font-light mb-2">
                16"Apes x 1
                <span class="font-bold">{{3 | currency:'R'}}</span>
            </div>
            <div class="flex justify-between font-light mb-2">
                16"Apes x 1
                <span class="font-bold">{{3 | currency:'R'}}</span>
            </div>
        </div>
        <div class="flex justify-between py-3 font-light">
            Total:
            <span class="font-bold">{{'9' | currency:'R'}}</span>
        </div>
        <div class="pt-3 flex justify-between">
            <button class="bg-red-600 text-white rounded-full w-9 h-9">
                <mat-icon>remove_shopping_cart</mat-icon>
            </button>
            <button routerLink="cart" class="bg-lime-600 text-white rounded-full w-9 h-9">
                <mat-icon>shopping_cart</mat-icon>
            </button>
        </div>
    </div>
</mat-menu>
</mat-toolbar>